<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Результаты</title>
 </head>

   <frameset cols="50%,50%", rows="25%,25%,25%,25%">
    <frame src="user1.html" name="1">
    <frame src="/studContent/user2.html" name="2">
    <frame src="studContent/user1.html" name="1">
    <frame src="public/studContent/user2.html" name="2">  
    <frame src="./public/studContent/user1.html" name="1">
    <frame src="./public/studContent/user2.html" name="2">
    <frame src="./public/studContent/user1.html" name="1">
    <frame src="./public/studContent/user2.html" name="2">
    </frameset>  
</html>