<!DOCTYPE html>
<html>
<head>
<title>Upload File</title>
<style>
    body{text-align:center;}
    form{display:block;border:1px solid black;padding:20px;}
</style>
</head>
<body>
    <h1>Upload files to Node.js Server</h1>
       <a href="/result{{url}}">/result{{url}}</a>  
       <p></p>
    <form action="/fileupload{{url}}" method="post" enctype="multipart/form-data">
        <input type="text" name="usercode" id="user_code">
        Имя пользователя (логин- 3 символа)
        <input type="file" name="filetoupload">
        <input type="submit" value="Upload">
    </form>
</body>
</html>
 